<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Around.</title>
		<link rel="stylesheet" href="./styles/style.css"/>
	</head>
	
	<body class="bg-cover bg-gray-400 w-screen h-screen">
		
		<div class="w-full h-12">
				Around
		</div>
		
		<div class="grid grid-cols-3 grid-flow-col gap-4 place-items-stretch">
			
			<div class="col-span-1 row-start-1 row-span-3">
				bookmarks
			</div>

			<div class="col-start-3 col-span-1 row-start-1 row-span-3">
				memo
			</div>
			
			
			<div id="stopWatch-container" class="">
				<p id="stopWatch">
					0 h 0 m 0 s
				</p>
				<button id="stopWatch-button">start</button>
			</div>

			<div class="">
				todo
			</div>

			<div class="">
				grass
			</div>

			
		</div>
		<script src="./scripts/stopWatch.js"></script>
	</body>
</html>