<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Around.</title>
		<link rel="stylesheet" href="./styles/style.css" />
	</head>

	<body class="font-sans bg-cover bg-indigo-200 w-screen h-screen box-border">
		<div id="header-container" class="w-full h-12  mb-8">
			<p class="p-2 text-2xl font-semibold">Around.</p>
		</div>

		<div class="grid grid-cols-custom grid-flow-col gap-4 place-items-stretch">
			
			<div id="bookmark-container" class="row-start-1 row-span-3 w-10 ml-3">
				<div id="bookmark-bar" class="flex flex-col space-y-4">
					<button
						id="add-bookmark-button"
						class="w-16 h-16 rounded-lg shadow-lg bg-indigo-500 text-center text-white font-semibold"
					>
						+
					</button>

					<div
						id="add-bookmark-modal-container"
						class="hidden bg-white absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-60 h-60"
					>
						<div id="add-bookmark-modal-content" class=""></div>
						<button id="#close-button" class="w-6 h-6 block" onclick="handleClose()">
							x
						</button>
						<p>Name</p>
						<input type="text" name="Name" placeholder="ex) Google" class="text-input bg-blue-300 border"/>
						
						<p>Url</p>
						<input type="text" name="Url" placeholder="ex) www.google.com" class="text-input bg-blue-300 border"                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                />
						<input type="submit" value="Submit" class="submit-button" />
					</div>
				</div>
			</div>

			<div class="rounded-lg shadow-lg bg-white col-start-3 col-span-1 row-start-1 row-span-3">
				memo
			</div>

			<div id="stopWatch-container" class="rounded-lg shadow-lg bg-white">
				<p id="stopWatch">
					0 h 0 m 0 s
				</p>
				<button id="stopWatch-button">start</button>
			</div>

			<div class="rounded-lg shadow-lg bg-white">
				todo
			</div>

			<div class="rounded-lg shadow-lg bg-white">
				grass
			</div>
		</div>
		<script src="./scripts/stopWatch.js"></script>
		<script src="./scripts/bookmark.js"></script>
	</body>
</html>