* {
	box-sizing: border-box;
	border: 1px solid red;
}

body {
	margin: 0;
}
.main-container {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 1fr 2fr 5fr 5fr;
	grid-gap: 1rem;
}

.header-container {
	grid-column-start:1;
	grid-column-end:4;
}

.bookmark-container {
	grid-column-start:1;
	grid-column-end:2;
	grid-row-start:2;
	grid-row-end:5;
}
.timer-container, .todo-container, .grass-container {
	grid-column-start:2;
	grid-column-end:3;
}

.memo-container {
	grid-column-start:3;
	grid-column-end:4;
	grid-row-start:2;
	grid-row-end:5;
}